= render 'commons/profile', user: current_user
-# app/views/commons/_profile.html.haml を読み込み・_profile.html.hamlのuserにはcurrent_userの値を使用
-# ※ app/views/accounts/show.html.haml で同じデザインを使用するため、_profile.html.hamlで共通テンプレート化