<div class="container">
 	<%# タブを部分テンプレートで読み込み %>
	<%= render 'tabs' %>	<%# タブの内容が入力された部分テンプレート:_tabs.html.erbを読み込む %>


	<% @articles.each do |article| %>
		<%# 記事の表示を部分テンプレートで読み込み %>
		<%= render 'article', article: article %><%# article: articleで、部分テンプレート:_article.html.erbに値を渡して_article.html.erbを表示%>
	<% end %>
 	<%# データベース作成時に登録した記事1件とdb/seeds.rbのダミー記事：2件が表示される %>

	<%# 新規作成ページへのリンクを作成（font-awesomeを使用） %>
	<%= link_to new_article_path do %>
    <div class="float_btn">
      <i class="fa fa-plus"></i>
    </div>
  <% end %>
</div>