<h1>HOME</h1>
<%# Articleモデルから取得した最初の記事(@article)の title と content を表示 %>
<h2><%= @article.title %></h2>
<h3><%= @article.content %></h3>
<%# link_to:HTMLの<a>タグを生成・リンクテキストAboutを表示, about_path:/aboutパスのヘルパー (※http://localhost:3000/rails/info/routesを参照) %>
<%= link_to 'About',about_path %>