<h1>HOME</h1>
<%# HomeController の index アクション内で設定されたインスタンス変数 @title をビュー内で使用する %>
<h2><%= @title %></h2>
<%# link_to:HTMLの<a>タグを生成・リンクテキストAboutを表示, about_path:/aboutパスのヘルパー (※http://localhost:3000/rails/info/routesを参照) %>
<%= link_to 'About',about_path %>